.pc-letter-counter {
  width: 4.5rem;
  height: 1.75rem;
  margin: 0.4rem 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-radius: 0.8rem;
  background-color: #d7ccc8;
}
.pc-letter-counter--character {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: -0.2em 0;
  flex-grow: 0;

  font-weight: 600;
  border-radius: 50%;
}
.pc-letter-counter--number {
  flex-grow: 1;
}


/*
  State: valid
*/
.pc-letter-counter_pass {
  order: 1;
}
.pc-letter-counter_pass > .pc-letter-counter--character {
  color: #212121;
  background-color: #00c853;
}

/*
  State: invalid
*/
.pc-letter-counter_fail {
  order: 0;
}
.pc-letter-counter_fail > .pc-letter-counter--character {
  color: #fbe9e7;
  background-color: #dd2c00;
}
