/*
 * SPDX-FileCopyrightText: 2017 Roberto MF (Roboe)
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.pc-letter-counter {
  width: 4.5rem;
  height: 1.75rem;
  margin: 0.4rem 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-radius: 0.8rem;
  background-color: var(--brown-100);
}
.pc-letter-counter--character {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: -0.2em 0;
  flex-grow: 0;

  font-weight: 600;
  border-radius: 50%;
}
.pc-letter-counter--number {
  flex-grow: 1;
}


/*
  State: valid
*/
.pc-letter-counter_pass {
  order: 1;
}
.pc-letter-counter_pass > .pc-letter-counter--character {
  color: var(--grey-900);
  background-color: var(--green-A700);
}

/*
  State: invalid
*/
.pc-letter-counter_fail {
  order: 0;
}
.pc-letter-counter_fail > .pc-letter-counter--character {
  color: var(--deep-orange-50);
  background-color: var(--deep-orange-A700);
}
