/*
 * SPDX-FileCopyrightText: 2017 Roberto MF (Roboe)
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.pc-text-field {
  width: 100%;
  margin: 0.5em;

  background-color: #fafafa;
}
.pc-text-field,
.pc-text-field--input {
  border-radius: 0.2em;
}
.pc-text-field--label {
  color: #757575;
  padding: 0.5em 0.5em 0 0.5em;
}
.pc-text-field--input {
  display: block;
  width: 100%;
  line-height: 2em;
  padding: 0.25em 0.5em;
  resize: vertical;

  border: none;
  border-bottom: 2px solid grey;
  background-color: inherit;
  color: #212121;
}
.pc-text-field--input::selection {
  color: #fafafa;
  background-color: #a98274;
}
.pc-text-field--button {
  border: 0;
  white-space: nowrap;
  background-color: #795548;
  color: #fafafa;
  border-radius: 0.2em;
  cursor: pointer;
}
.pc-text-field--button:active {
  background-color: #a98274;
}


/*
  Workaround to reverse the adjacent sibling selector
  HTML order (<input> then <label>) is visually restored with the CSS order property
*/
.pc-text-field_with-label {
  display: flex;
  flex-direction: column;
}
.pc-text-field_with-label .pc-text-field--input {
  order: 2;
}
.pc-text-field_with-label .pc-text-field--label {
  order: 1;
}


/*
  With an action button on the right
*/
.pc-text-field_with-action {
  display: flex;
  flex-direction: row;
}


/*
  When <input> has the focus
*/
.pc-text-field--input:focus {
  border: none;
  border-bottom: 2px solid #a98274;
  outline: none;
}
.pc-text-field--input:focus + .pc-text-field--label {
  color: #a98274;
}
