# SPDX-FileCopyrightText: 2017 Roberto MF (Roboe)
# SPDX-FileCopyrightText: 2021 Ãlvaro Cuesta (alvaro-cuesta)
#
# SPDX-License-Identifier: CC0-1.0

variables:
  SOURCE: $CI_PROJECT_DIR
  BUILD_DESTINATION: $CI_PROJECT_DIR/build
  GIT_PUSH_URL: https://$GITLAB_USER_LOGIN:$ACCESS_TOKEN@github.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME.git
  GIT_PUSH_BRANCH: master:gh-pages

reuse_lint:
  stage: .pre
  image:
    name: fsfe/reuse:latest
    entrypoint: [""]
  script:
    - reuse --root $CI_PROJECT_DIR lint

npm_build:
  image: node:latest
  stage: build
  before_script:
    - npm ci
  script:
    - npm run build
  artifacts:
    paths:
      - build
    expire_in: 1 week
  cache:
    paths:
      - node_modules/

npm_test:
  image: node:latest
  stage: test
  script:
    - npm test
  cache:
    paths:
      - node_modules/

git_deploy:
  image: alpine:latest
  stage: deploy
  only:
    - master
  when: on_success
  before_script:
    - apk add --no-cache git
  script:
    - cd $BUILD_DESTINATION
    - git init
    - git config user.name "$GITLAB_USER_NAME"
    - git config user.email "$GITLAB_USER_EMAIL"
    - git add --all
    - git commit -m "Deploy $CI_COMMIT_SHA"
    - git push --force --quiet $GIT_PUSH_URL $GIT_PUSH_BRANCH > /dev/null 2>&1
