html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
#pangram-checker {
  height: 100%;

  font-family: 'Fira Sans', sans-serif;
  color: #212121;
}
#pangram-checker a {
  color: #5d4037;
  text-decoration: none;
}
