@import '~normalize.css/normalize.css';
@import '~typeface-fira-sans/index.css';


/* Global */

html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
#pangram-checker {
  height: 100%;

  font-family: 'Fira Sans', sans-serif;
  color: #212121;
}
#pangram-checker a {
  color: #5d4037;
  text-decoration: none;
}


/* App structure */

.pc-structure {
  display: flex;
  flex-direction: column;
}

.pc-structure--header {
  height: 3.5rem;
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  justify-content: center;

  background-color: #795548;
}

.pc-structure--body {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #efebe9;
}

.pc-header,
.pc-main,
.pc-footer {
  width: 100%;
  max-width: 800px;
  flex-shrink: 0;
  flex-basis: auto;
}

.pc-main {
  flex-grow: 1;
}


/* Blocks, elements and modifiers (BEM) */

.pc-header {
  padding: 0 1.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: #ffffff;
}
.pc-header--title {
  font-size: 1.25rem;
  font-weight: 400;
}


.pc-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pc-main--section {
  padding: 1rem;
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pc-text-field {
  width: 100%;
  padding: 1em;
}
.pc-text-field--label {
  display: block;
  width: 100%;
  padding: 0.5rem 0;

  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #5d4037;
}
.pc-text-field--input {
  display: block;
  width: 100%;
  line-height: 2em;
  padding: 0.25em 0.5em;

  border: none;
  border-bottom: 2px solid grey;
  border-radius: 0.2em;
  background-color: #fafafa;
}
.pc-text-field--input:focus {
  border: none;
  border-bottom: 2px solid brown;
}

.pc-counters-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;

  text-align: center;
}
.pc-counters-list--item {
  list-style: none;
}

.pc-letter-counter {
  width: 4.5rem;
  height: 1.75rem;
  margin: 0.4rem 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-radius: 0.8rem;
  background-color: #d7ccc8;
}
.pc-letter-counter_pass {
  order: 1;
}
.pc-letter-counter_fail {
  order: 0;
}
.pc-letter-counter--character {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: -0.2em 0;
  flex-grow: 0;

  font-weight: 600;
  border-radius: 50%;
}
.pc-letter-counter_pass > .pc-letter-counter--character {
  color: #212121;
  background-color: #00c853;
}
.pc-letter-counter_fail > .pc-letter-counter--character {
  color: #fbe9e7;
  background-color: #dd2c00;
}
.pc-letter-counter--number {
  flex-grow: 1;
}


.pc-footer {
  width: 100%;
  height: 3.5rem;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 0.85rem;
  font-weight: 300;
  color: #8d6e63;
}
.pc-footer--credits,
.pc-footer--license {
  padding: 0 1em;
}
